@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e7e0d6;
    font-family: poppins, sans-serif;
}

.form-container {
    width: 400px;
    height: 650px;
    background: #e7e0d6;
    border-radius: 20px;
    box-shadow: 8px 8px 16px #928872, -4px -4px 16px #fff;
}

.banner-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    position: relative;
    top: 40px;
}

.banner-icon {
    width: 60px;
    height: 60px;
    box-shadow: inset 4px 4px 10px #928872, inset -4px -4px 10px #fff;
    border-radius: 50%;
    background: none;
    position: relative;
}

.banner-i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-form h2 {
    font-family: nunito, sans-serif;
    font-size: 26px;
    font-weight: 800;
    color: #0d497a;
}

.banner-form p {
    font-family: nunito, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #0d497a;
}