form {
    position: relative;
    bottom: 45px;
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

form input {
    width: 100%;
    padding: 13px 20px 13px 30px;
    border: none;
    outline: none;
    border-radius: 25px;
    box-shadow: inset 4px 4px 10px #928872, inset -4px -4px 10px #ffffff;
    color: #575757;
    background: none;
}

.signUp {
    text-decoration: none;
    font-size: 0.9rem;
    color: #25359e;
    position: absolute;
    top: 84%;
    left: 76%;
    transform: translate(-59%, -70%);
}

.btn {
    box-shadow: 6px 6px 10px #928872, -6px -6px 10px #ffffff;
    color: #f8e6e6;
    font-size: 14px;
    background: #081257;
    font-family: poppins, sans-serif;
}
